/axis-jaxrpc.jar
/axis.jar
/chemistry-opencmis-client-api.jar
/chemistry-opencmis-client-bindings.jar
/chemistry-opencmis-client-impl.jar
/chemistry-opencmis-commons-api.jar
/chemistry-opencmis-commons-impl.jar
/commons-codec.jar
/commons-discovery.jar
/commons-httpclient.jar
/commons-logging.jar
/jaxrpc.jar
/log4j.jar
/portal-compat-shared.jar
/saaj-api.jar
/saaj-impl.jar
/sharepoint-ws-shared.jar
/util-bridges.jar
/util-java.jar
/util-taglib.jar
/wsdl4j.jar