<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>GitHubServlet</servlet-name>
		<servlet-class>com.liferay.github.servlet.GitHubServlet</servlet-class>
		<init-param>
			<param-name>validIps</param-name>
			<param-value>192.30.252,192.30.253,192.30.254,192.30.255</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GitHubServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>