/axis-jaxrpc.jar
/axis.jar
/commons-httpclient.jar
/commons-logging.jar
/dl-repository-shared.jar
/log4j.jar
/portal-compat-shared.jar
/sharepoint-connector-shared.jar
/sharepoint-ws-shared.jar
/util-bridges.jar
/util-java.jar
/util-taglib.jar